<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="description" content="Miminium Admin Template v.1">
  <meta name="author" content="Isna Nur Azis">
  <meta name="keyword" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Attendance System |</title>

  <!-- start: Css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/bootstrap.min.css') }}">

  <!-- plugins -->
  <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/plugins/font-awesome.min.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/plugins/simple-line-icons.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/plugins/animate.min.css') }}"/>
  <link href="{{ url_for( 'static', filename= 'css/style.css') }}" rel="stylesheet">
  <!-- end: Css -->

  <link href="{{ url_for( 'static', filename= 'img/logomi.png') }}" rel="shortcut icon">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="mimin">

  <div class="col-md-12">

    <!-- start: Content -->
    <center>
      <div class="page-404 animated flipInX">
        <img src="{{ url_for('static', filename='img/404.png')}}" class="img-responsive"/>
        <a href="{{ url_for('home') }}"> Back To Home
          </br>
          <span class="icons icon-arrow-down"></span>
        </a>
      </div>
    </center>
    <!-- end: content -->
  </div>

<!-- start: Javascript -->
<script src="asset/js/jquery.min.js"></script>
<script src="asset/js/jquery.ui.min.js"></script>
<script src="asset/js/bootstrap.min.js"></script>


<!-- plugins -->
<script src="asset/js/plugins/moment.min.js"></script>
<script src="asset/js/plugins/jquery.nicescroll.js"></script>


<!-- custom -->
<script src="asset/js/main.js"></script>
<script type="text/javascript">
</script>
<!-- end: Javascript -->
</body>
</html>
