{% extends "base.html" %}
{% block body%}


<div class="panel box-shadow-none content-header">
  <div class="panel-body">
    <div class="col-md-12">
        <h3 class="animated fadeInLeft">Add Admin</h3>
        <p class="animated fadeInDown">
          Form <span class="fa-angle-right fa"></span> New Admin Form
        </p>
    </div>
  </div>
</div>

<div class="col-md-12">
  <form action="{{url_for('view_admin')}}">
    <input class="submit btn btn-info pull-right" type="submit" value="View Administrators">
  </form>
</div>

<div class="col-md-12 panel" style="margin-top: 20px;">
    <!-- <div class="col-md-12 panel-heading">
      <h4>Add New Admin</h4>
    </div> -->
    <div class="col-md-12 panel-body" style="padding-bottom:30px;">
      <div class="col-md-12">
        <form class="cmxform" id="admin_signupForm" action="{{ url_for('add_admin') }}" method="post">
          <div class="col-md-6">
            <div class="form-group form-animate-text" style="margin-top:40px !important;">
              <input type="text" class="form-text" id="validate_firstname" name="admin_firstname" required>
              <span class="bar"></span>
              <label>Firstname</label>
            </div>

            <div class="form-group form-animate-text" style="margin-top:40px !important;">
              <input type="text" class="form-text" id="validate_lastname" name="admin_lastname" required>
              <span class="bar"></span>
              <label>Lastname</label>
            </div>

            <div class="form-group form-animate-text" style="margin-top:40px !important;">
              <input type="text" class="form-text" id="validate_username" name="admin_username" required>
              <span class="bar"></span>
              <label>Username</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group form-animate-text" style="margin-top:40px !important;">
              <input type="password" class="form-text" id="validate_password" name="admin_password" required>
              <span class="bar"></span>
              <label>Password</label>
            </div>

            <div class="form-group form-animate-text" style="margin-top:40px !important;">
              <input type="password" class="form-text" id="validate_confirm_password" name="admin_confirm_password" required>
              <span class="bar"></span>
              <label>Confirm Password</label>
            </div>

            <!-- <div class="form-group form-animate-text" style="margin-top:40px !important;">
              <input type="text" class="form-text" id="validate_email" name="validate_email" required>
              <span class="bar"></span>
              <label>Email</label>
            </div> -->
          </div>
          <div class="col-md-12">
            <input class="submit btn btn-danger" type="submit" value="Submit">
          </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}
