{% extends "base.html" %}
{% block body%}


<div class="panel box-shadow-none content-header">
  <div class="panel-body">
    <div class="col-md-12">
        <h3 class="animated fadeInLeft">Add Employee</h3>
        <p class="animated fadeInDown">
          Form <span class="fa-angle-right fa"></span> New Employee Form
        </p>
    </div>
  </div>
</div>

<div class="col-md-12">
  <form action="{{url_for('users')}}">
    <input class="submit btn btn-info pull-right" type="submit" value="View Employees">
  </form>
</div>

<div class="col-md-12 panel" style="margin-top: 20px;">
    <!-- <div class="col-md-12 panel-heading">
      <h4>Add New Admin</h4>
    </div> -->
    <div class="col-md-12 panel-body" style="padding-bottom:30px;">
      <div class="col-md-12">
        <form class="cmxform" id="signupForm" method="post" action="{{ url_for('add_user') }}">
          <div class="col-md-6">
            <div class="form-group form-animate-text" style="margin-top:40px !important;">
              <input type="text" class="form-text" id="validate_firstname" name="firstname" required>
              <span class="bar"></span>
              <label>Firstname</label>
            </div>

            <div class="form-group form-animate-text" style="margin-top:40px !important;">
              <input type="text" class="form-text" id="validate_lastname" name="lastname" required>
              <span class="bar"></span>
              <label>Lastname</label>
            </div>

            <!-- div class="form-group form-animate-text" style="margin-top:40px !important;">
              <input type="text" class="form-text" id="validate_username" name="email" required>
              <span class="bar"></span>
              <label>Email</label>
            </div> -->
          </div>

          <div class="col-md-6">
            <div class="form-group form-animate-text" style="margin-top:40px !important;">
              <input type="text" class="form-text" id="validate_password" name="department" required>
              <span class="bar"></span>
              <label>Department</label>
            </div>

            <!-- <div class="form-group form-animate-text" style="margin-top:40px !important;">
              <input type="password" class="form-text" id="validate_confirm_password" name="validate_confirm_password" required>
              <span class="bar"></span>
              <label>finger</label>
            </div> -->

            <div class="form-group form-animate-text" style="margin-top:40px !important;">
              <input type="text" class="form-text" id="validate_email" name="email" required>
              <span class="bar"></span>
              <label>Email</label>
            </div>
          </div>
          <div class="col-md-12">
              <!-- div class="form-group form-animate-checkbox">
                  <input type="checkbox" class="checkbox"  id="validate_agree" name="validate_agree">
                  <label>Please agree to our policy</label>
              </div> -->
              <input class="submit btn btn-danger" type="submit" value="Submit">
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}
