<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="description" content="Miminium Admin Template v.1">
  <meta name="author" content="Isna Nur Azis">
  <meta name="keyword" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Attendance System | {{ title }}</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/bootstrap.min.css') }}">
    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/plugins/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/plugins/simple-line-icons.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/plugins/animate.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/plugins/nouislider.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/plugins/select2.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/plugins/ionrangeslider/ion.rangeSlider.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/plugins/ionrangeslider/ion.rangeSlider.skinFlat.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/plugins/bootstrap-material-datetimepicker.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/plugins/fullcalendar.min.css') }}"/>
  <link href="{{ url_for( 'static', filename= 'css/style.css') }}" rel="stylesheet">
  <!-- end: Css -->

  <link rel="shortcut icon" href="{{ url_for( 'static', filename= 'img/logomi.png') }}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

 <body id="mimin" class="dashboard">
      <!-- start: Header -->
        <nav class="navbar navbar-default header navbar-fixed-top">
          <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width:100%;">
              <div class="opener-left-menu is-open">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
              </div>
                <a href="{{ url_for('home') }}" class="navbar-brand">
                 <b>TIMESHEET</b>
                </a>

              <ul class="nav navbar-nav search-nav">
                <li>
                   <div class="search">
                    <span class="fa fa-search icon-search" style="font-size:23px;"></span>
                    <div class="form-group form-animate-text">
                      <input type="text" class="form-text" required>
                      <span class="bar"></span>
                      <label class="label-search">Type anywhere to <b>Search</b> </label>
                    </div>
                  </div>
                </li>
              </ul>

              <ul class="nav navbar-nav navbar-right user-nav">
                <li class="user-name"><span>{{ session['firstname'] }} {{ session['lastname'] }}</span></li>
                  <li class="dropdown avatar-dropdown">
                   <img src="{{ url_for( 'static', filename= 'img/avatar.jpg') }}" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
                   <ul class="dropdown-menu user-dropdown">
                     <li><a href="#"><span class="fa fa-user"></span> My Profile</a></li>
                     <li><a href="#"><span class="fa fa-calendar"></span> My Calendar</a></li>
                     <li role="separator" class="divider"></li>
                     <li class="more">
                      <ul>
                        <li><a href=""><span class="fa fa-cogs"></span></a></li>
                        <li><a href=""><span class="fa fa-lock"></span></a></li>
                        {% if session.logged_in %}
                        <li><a href="{{ url_for( 'logout' ) }}"><span class="fa fa-power-off "></span></a></li>
                        {% endif %}
                      </ul>
                    </li>
                  </ul>
                </li>
                <li ><a href="#" class="opener-right-menu"><span class="fa fa-coffee"></span></a></li>
              </ul>
            </div>
          </div>
        </nav>
      <!-- end: Header -->

      <div class="container-fluid mimin-wrapper">

          <!-- start:Left Menu -->
            <div id="left-menu">
              <div class="sub-left-menu scroll">
                <ul class="nav nav-list">
                    <li><div class="left-bg"></div></li>
                    <li class="time">
                      <h1 class="animated fadeInLeft">21:00</h1>
                      <p class="animated fadeInRight">Sat,October 1st 2029</p>
                    </li>
                    <li class="active ripple">
                      <a href="{{ url_for('home') }}" class="tree-toggle nav-header"><span class="fa-home fa"></span> Dashboard
                        <!-- <span class="fa-angle-right fa right-arrow text-right"></span> -->
                      </a>
                      <!-- <ul class="nav nav-list tree">
                          <li><a href="dashboard-v1.html">Dashboard v.1</a></li>
                          <li><a href="dashboard-v2.html">Dashboard v.2</a></li>
                      </ul> -->
                    </li>
                    <li class="ripple">
                      <a href="{{ url_for('manage_logs') }}" class="tree-toggle nav-header">
                        <span class="fa-diamond fa"></span> Logs
                        <!-- <span class="fa-angle-right fa right-arrow text-right"></span> -->
                      </a>
                      <!-- <ul class="nav nav-list tree">
                        <li><a href="{{ url_for( 'manage_logs') }}">View Logs</a></li>
                        <li><a href="boxed.html">Boxed</a></li>
                      </ul> -->
                    </li>
                    <li class="ripple">
                      <a href="{{ url_for( 'users' ) }}" class="tree-toggle nav-header">
                        <span class="fa-area-chart fa"></span> Employees
                        <!-- <span class="fa-angle-right fa right-arrow text-right"></span> -->
                      </a>
                      <!-- <ul class="nav nav-list tree">
                        <li><a href="{{ url_for( 'add_admin' ) }}">Add</a></li>
                        <li><a href="{{ url_for( 'view_admin' ) }}">View</a></li>
                        <li><a href="flot.html">Flot</a></li>
                        <li><a href="sparkline.html">SparkLine</a></li> -->
                      <!-- </ul>  -->
                    </li>
                    <li class="ripple">
                      <a href="{{ url_for('view_admin') }}" class="tree-toggle nav-header">
                        <span class="fa fa-pencil-square"></span> Administrators
                        <!-- <span class="fa-angle-right fa right-arrow text-right"></span>  -->
                      </a>
                      <!-- <ul class="nav nav-list tree">
                        <li><a href="color.html">Add</a></li>
                        <li><a href="weather.html">View</a></li>
                      </ul> -->
                    </li>
                    <li class="ripple">
                      <a href="{{url_for('generate_reports')}}" class="tree-toggle nav-header">
                        <span class="fa fa-check-square-o"></span> Reports
                        <!-- <span class="fa-angle-right fa right-arrow text-right"></span>  -->
                      </a>
                      <!-- <ul class="nav nav-list tree">
                        <li><a href="formelement.html">Generate</a></li>
                      </ul> -->
                    </li>

                  </ul>
                </div>
            </div>
          <!-- end: Left Menu -->


          <!-- start: content -->
            <div id="content">
              <div class="col-md-12">
                {% for message in get_flashed_messages() %}
                  <div style="margin-top: 15px;" class="alert alert-success alert-dismissible fade in container">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button><strong>Success! </strong>{{ message }}
                  </div>
                {% endfor %}
                {% if error %}
                <div style="margin-top: 15px;" class="alert alert-danger alert-dismissible fade in container"><strong>Error!</strong> {{ error }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                {% endif %}
              </div>
              {% block body %}{% endblock %}
            </div>
          <!-- end: content -->





    <!-- start: Javascript -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery.knob.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


    <!-- plugins -->
    <script src="{{ url_for('static', filename='js/plugins/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/fullcalendar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/ion.rangeSlider.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/bootstrap-material-datetimepicker.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery.nicescroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery.mask.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/select2.full.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/nouislider.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/jquery.vmap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugins/maps/jquery.vmap.world.js') }}"></script>
    <script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>


    <!-- custom -->
     <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- end: Javascript -->
    <script type="text/javascript">
        $(document).ready(function(){
          $('.date').bootstrapMaterialDatePicker({ weekStart : 0, time: false});
          $('.date-fr').bootstrapMaterialDatePicker({ format : 'DD/MM/YYYY HH:mm', lang : 'fr', weekStart : 1, cancelText : 'ANNULER'});
        });
        // start: Calendar =========
         $('.dashboard .calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            defaultDate: '2015-02-12',
            businessHours: true, // display business hours
            editable: true,
            events: [
                {
                    title: 'Business Lunch',
                    start: '2015-02-03T13:00:00',
                    constraint: 'businessHours'
                },
                {
                    title: 'Meeting',
                    start: '2015-02-13T11:00:00',
                    constraint: 'availableForMeeting', // defined below
                    color: '#20C572'
                },
                {
                    title: 'Conference',
                    start: '2015-02-18',
                    end: '2015-02-20'
                },
                {
                    title: 'Party',
                    start: '2015-02-29T20:00:00'
                },

                // areas where "Meeting" must be dropped
                {
                    id: 'availableForMeeting',
                    start: '2015-02-11T10:00:00',
                    end: '2015-02-11T16:00:00',
                    rendering: 'background'
                },
                {
                    id: 'availableForMeeting',
                    start: '2015-02-13T10:00:00',
                    end: '2015-02-13T16:00:00',
                    rendering: 'background'
                },

                // red areas where no events can be dropped
                {
                    start: '2015-02-24',
                    end: '2015-02-28',
                    overlap: false,
                    rendering: 'background',
                    color: '#FF6656'
                },
                {
                    start: '2015-02-06',
                    end: '2015-02-08',
                    overlap: true,
                    rendering: 'background',
                    color: '#FF6656'
                }
            ]
        });
        // end : Calendar==========
     </script>
  </body>
</html>
