{% extends "base.html" %}
{% block body%}


<!-- start: content -->
<!-- <div id="content"> -->
    <div class="col-md-12" style="padding:20px;">
        <div class="col-md-12 padding-0">
          <div class="panel chart-title">
            <h3><span class="fa fa-area-chart"></span> Dashboard <small>Biometric Attendance System</small> </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-light-blue">
              <div class="inner">
                <h3 class="h3">1</h3>
                <p class="p">Organizations</p>
              </div>
              <div class="icon"><i class="fa fa-building-o"></i></div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-orange">
              <div class="inner">
                <h3 id="count_reg" class="h3">3453</h3>
                <p class="p">Registered Employees</p>
              </div>
              <div class="icon"><i class="fa fa-users"></i></div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-grass">
              <div class="inner">
                <h3 id="count_present" class="h3">1050</h3>
                <p class="p">Present Today</p>
              </div>
              <div class="icon"><i class="fa fa-user"></i></div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-wood">
              <div class="inner">
                <h3 id="count_devices" class="h3">50</h3>
                <p class="p">Active Devices</p>
              </div>
              <div class="icon"><i class="fa fa-desktop"></i></div>
              <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- live graph-->
          <section class="col-lg-6 connectedSortable">
            <!-- interactive chart -->
            <div class="box box-info">
              <div class="box-header"> <i class="fa fa-signal"></i>
                <div style="display: none;" id="count_start">3333</div>
                <h3 class="box-title">Attendance Activity</h3>
                <div class="pull-right box-tools">
                  <button class="btn btn-info btn-xs" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /. tools -->
              </div>
              <div class="box-body">
                <div id="container" style="height: 304px;"></div>
              </div>
              <!-- /.box-body-->
            </div>
            <!-- /.box -->
          </section>


          <!--  detailed analysis  / -->
          <section class="col-lg-6 connectedSortable">
            <!-- Box (with bar chart) -->
            <div class="box box-default" >
              <div class="box-header">
                <!-- tools box -->
                <div class="pull-right box-tools">
                  <button class="btn btn-default btn-xs" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /. tools -->
                <i class="fa fa-cloud"></i>
                <h3 class="box-title">Attendance Statistics </h3>
              </div><!-- /.box-header -->
              <div class="box-body no-padding">
                <div class="row">
                  <div class="col-sm-7">
                    <!-- bar chart -->
                    <div class="chart" id="combination" style="height: 220px;"></div>
                  </div>
                  <div class="col-sm-5">
                    <div class="pad box-lbl-txt">

                      <div class="clearfix">
                        <span class="pull-left">Active Employees</span>
                        <small class="pull-right">159901 / 184603</small>
                      </div>
                      <div class="progress xs progress-striped active">
                        <div class="progress-bar progress-bar-light-blue" style="width: 86%;"></div>
                      </div>

                      <div class="clearfix">
                        <span class="pull-left">Biometric Terminals</span>
                        <small class="pull-right">1336/2270</small>
                      </div>
                      <div class="progress xs progress-striped active">
                        <div class="progress-bar progress-bar-yellow" style="width: 58%;"></div>
                      </div>

                      <div class="clearfix">
                        <span class="pull-left">Desktop Device</span>
                        <small class="pull-right">148/3267</small>
                      </div>
                      <div class="progress xs progress-striped active">
                        <div class="progress-bar progress-bar-aqua" style="width: 4%;"></div>
                      </div>

                      <div class="clearfix">
                        <span class="pull-left">Auth Request (Desktop)</span>
                        <small class="pull-right"><span class="text-green">580</span> | <span class="text-black">4884</span></small>
                      </div>
                      <div class="progress xs progress-striped active xs">
                        <div class="progress-bar progress-bar-red" style="width: 11%;"></div>
                      </div>
                      <!-- Buttons -->

                    </div><!-- /.pad -->
                  </div><!-- /.col -->
                </div><!-- /.row - inside box -->
              </div><!-- /.box-body -->

              <div class="box-footer">
                <div class="row">
                  <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                    <h2><span class="text-orange"> 09:30 </span></h2>
                    <div class="knob-label">Average In-Time</div>
                  </div>
                  <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                    <h2><span class="text-maroon"> 17:49  </span></h2>
                    <div class="knob-label">Average Out Time</div>
                  </div>
                  <div class="col-xs-4 text-center">
                    <h2><span class="text-teal"> 1.51 <small>sec</small> </span></h2>
                    <div class="knob-label">Average Response</div>
                  </div><!-- ./col -->

                </div><!-- /.row -->
              </div><!-- /.box-footer -->
            </div><!-- /.box -->
          </section><!-- /.Left col -->
           <!-- / detailed analysis -->
        </div>

    </div><!-- </div> -->
<!-- end: content -->
{% endblock %}





