{% extends "base.html" %}
{% block body%}

<!-- start: content -->

    <div class="panel box-shadow-none content-header">
      <div class="panel-body">
        <div class="col-md-12">
            <h3 class="animated fadeInLeft">View Logs</h3>
            <p class="animated fadeInDown">
              Table <span class="fa-angle-right fa"></span> Logs Table
            </p>
        </div>
      </div>
    </div>

    <div class="col-md-12 top-20 padding-0">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading"><h3></h3></div>
        <div class="panel-body">
          <div class="responsive-table">
            <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Department</th>
                  <th>Login datetime</th>
                  <th>Logout datetime</th>
                </tr>
              </thead>
              <tbody>
                {% if data %}
                  {% for d in data %}
                    <tr>
                      <td></td>
                      <td>{{ d['firstname'] }}</td>
                      <td>{{ d['lastname'] }}</td>
                      <td>{{ d['department'] }}</td>
                      <td>{{ d['login_time'] }}</td>
                      <td>{{ d['logout_time'] }}</td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <p>NO DATA FOUND</p>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}


