{% extends "base.html" %}
{% block body%}

<!-- start: content -->

    <div class="panel box-shadow-none content-header">
      <div class="panel-body">
        <div class="col-md-12">
            <h3 class="animated fadeInLeft">Generate Report</h3>
            <p class="animated fadeInDown">
              Form <span class="fa-angle-right fa"></span> New Report
            </p>
        </div>
      </div>
    </div>

    <div class="col-md-12 panel">
      <div class="col-md-12 panel-body" style="padding-bottom:30px;">
          <div class="col-md-12">
              <!-- Actual Form content goes here -->
              <form class="cmxform" id="reportForm" method="post" action="{{ url_for('generate_reports') }}">
                <div class="col-md-6">
                  <div class="form-group" style="margin-left: -130px;">
                  <label class="col-sm-4 control-label text-right">Report Type</label>
                    <div class="col-sm-8">
                      <div class="col-sm-12 padding-0">
                        <select class="form-control" name="report_type" required>
                          <option>Select report Type</option>
                          <option value="logs">Logs</option>
                          <option value="employees">Employees</option>
                          <option value="administrators">Administators</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="text" class="form-text date" id="from_date" name="from_date" required>
                    <span class="bar"></span>
                    <label><span class="fa fa-calendar"></span> From</label>
                  </div>

                  <div class="form-group form-animate-text" style="margin-top:40px !important;">
                    <input type="text" class="form-text date" id="to_date" name="to_date" required>
                    <span class="bar"></span>
                    <label><span class="fa fa-calendar"></span> To</label>
                  </div>

                  <div class="col-md-12">
                    <!-- <a href="" class="btn btn-danger"><i class="fa fa-download"></i> Export</a> -->
                    <input class="submit btn btn-danger" type="submit" value="Export">
                  </div>
                </div>
              </form>

          </div>
      </div>
    </div>

{% endblock %}
