<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="description" content="Miminium Admin Template v.1">
  <meta name="author" content="Isna Nur Azis">
  <meta name="keyword" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Attendance System | {{ title }}</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/bootstrap.min.css') }}">
    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/plugins/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/plugins/simple-line-icons.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/plugins/animate.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/plugins/nouislider.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename= 'css/plugins/select2.min.css') }}"/>

  <link href="{{ url_for( 'static', filename= 'css/jquery.ui.min.css') }}" rel="stylesheet">
  <link href="{{ url_for( 'static', filename= 'css/style.css') }}" rel="stylesheet">
  <!-- end: Css -->

  <link rel="shortcut icon" href="{{ url_for( 'static', filename= 'img/logomi.png') }}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- <div id="content"> -->
      <div class="col-md-12" style="margin-top: 100px;">
        {% for message in get_flashed_messages() %}
          <div style="margin-top: 15px;" class="alert alert-info alert-dismissible fade in container">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button><strong>Info: </strong>{{ message }}
          </div>
        {% endfor %}
        {% if error %}
        <div style="margin-top: 15px;" class="alert alert-danger alert-dismissible fade in container"><strong>Error:</strong> {{ error }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        {% endif %}
      </div>
      {% block body %}{% endblock %}
    <!-- </div> -->


    <section class="container">
      <!-- <p style="font: 2em;">Check In</p> -->
      <form action="{{ url_for('search') }}" method="post">
        <div class="col-md-12">
          <div class="form-group col-md-8" style="margin-top: 150px; margin-left: 180px;">
            <input id="txtsearch" type="search" name="q" placeholder="Search..." autocomplete="off" class="form-control">
            <input type="submit" class="btn btn-primary" class="form-control">
            <a href="{{ url_for('login') }}">Administrators can login here.</a>
          </div>
        </div>

        <div id="searchAlertPlaceHolder"></div>
      </form>
    </section>

  </body>

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins/jquery.knob.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
          type:"GET",
          url: "http://localhost:5055/emp",
          // data:formData,//correct value
          dataType:"json",
          success: function(data){
              console.log(data);
              if(data.code == "00"){
                  var arrr = new Array();
                  for(i=0; i<data.msg.length; i++){
                      arrr.push(data.msg[i].firstname);
                  }
                  console.log(arrr)
                  $("#txtsearch").autocomplete({
                      source: arrr
                  });

              }

              if(data.code == "01"){
                  $("#searchAlertPlaceHolder").html("<div class='alert alert-danger alert-dismissable fade in'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button><p class='text-left'>"+
                    data.msg+"</p></div>");

                    setTimeout(function() {
                        $("#searchAlertPlaceHolder").html('');
                    }, 5000);
              }
          },
          error: onAjaxError,
          timeout: 60000,
          cache:false
      });


      function onAjaxError(xhr, status, error){
        displayNotificationMsg(error);
      }

      function displayNotificationMsg(msg){
        //hide loader
          $("#searchAlertPlaceHolder").html("<div class='alert alert-info alert-dismissable fade in'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button><p class='text-left'>"+
              msg+"</p></div>");
          setTimeout(function() {
              $("#searchAlertPlaceHolder").html('');
          }, 5000);
      }

    });
  </script>
</html>
